summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

.filter-sort {
  margin: 52px auto 64px auto;
  position: relative;
  display: flex;
  gap: 30px;
  box-sizing: border-box;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter[open] {
  background: #FFF;
  box-shadow: 6px 5px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter-summary-title {
  color: #EF5B70;
}
.filter[open] path {
  fill: #EF5B70;
}
.filter-summary {
  padding-left: 16px;
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}
.filter-summary-title {
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}
.filter-content {
  padding: 0 16px 16px 16px;
  background: #fff;
  box-shadow: 6px 5px 35px rgba(0, 0, 0, 0.21);
}
.filter-content-item {
  margin-top: 16px;
}
.filter-content-item-heading {
  text-transform: uppercase;
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #EF5B70;
}
.filter-content-item[open] .filter-content-item-heading {
  color: #EF5B70;
}
.filter-content-item-box {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter-content-item-link {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.filter-content-item-link:hover {
  color: #EF5B70;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 28px;
  z-index: 10;
}
.sort-details {
  position: relative;
}
.sort-details[open] .sort-title {
  color: #EF5B70;
}
.sort-details[open] path {
  fill: #EF5B70;
}
.sort-summary {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sort-summary > svg {
  cursor: pointer;
}
.sort-title {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}
.sort-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  left: -9px;
  top: 22px;
  padding: 7px 30px 11px 9px;
  background: #fff;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}
.sort-check {
  display: flex;
  gap: 9px;
  align-items: center;
  color: #6F6E6E;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products-list {
  margin: 0 0 48px 0;
}

.products-pagination {
  margin: 0 auto 96px auto;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  width: 283px;
  height: 43px;
}
.products-pagination__list {
  display: flex;
  justify-content: space-between;
  width: 202px;
}
.products-pagination__list_svg {
  fill: #000;
}
.products-pagination__list_svg:hover {
  fill: #EF5B70;
}
.products-pagination__list_link-active {
  color: #EF5B70;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.products-pagination__list_link {
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.products-pagination__list_link:hover {
  color: #EF5B70;
}
.products-pagination__list_link-ellipsis {
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .filter-sort {
    margin: 24px auto 40px auto;
  }
  .products-list {
    margin: 0 0 40px 0;
  }
  .products-pagination {
    margin: 0 auto 64px auto;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .filter {
    position: relative;
    width: 107px;
  }
  .filter[open] {
    width: 180px;
  }
  .filter-content {
    position: absolute;
    width: 109px;
    top: 41px;
  }
  .filter-summary-title {
    display: none;
  }
  .filter-summary-title-svg {
    width: 37px;
    height: 25px;
  }
  .filter-sort {
    margin: 24px auto 32px auto;
    gap: 0;
  }
  .sort {
    gap: 24px;
  }
  .sort-title {
    font-size: 12px;
  }
  .sort-summary {
    gap: 9px;
  }
  .products-list {
    margin: 0 0 40px 0;
  }
  .products-pagination {
    margin: 0 auto 64px auto;
  }
}/*# sourceMappingURL=catalog.css.map */