summary {
    display: block;
}
summary::-webkit-details-marker {
    display: none;
}
a {
    text-decoration: none;
}
.filter-sort {
    padding-top: 39px;
    height: 132px;
    position: relative;
    display: flex;
    gap: 30px;
    box-sizing: border-box;
}
.filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    &[open] {
        background: #FFF;
        box-shadow: 6px 5px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter-summary-title {
        color: #EF5B70;
    }

    &[open] path {
        fill: #EF5B70;
    }

    &-summary {
        padding-left: 16px;
        display: flex;
        align-items: center;
        gap: 11px;
        cursor: pointer;
        &-title {
            text-transform: uppercase;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            line-height: normal;
        }
    }

    &-content {
        padding: 0 16px 16px 16px;
        background: #fff;
        &-item {
            margin-top: 16px;
            &-heading {
                text-transform: uppercase;
                color: #6F6E6E;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                cursor: pointer;
                padding: 8px 11px 11px 11px;
                border-bottom: 1px solid #EBEBEB;
                border-left: 5px solid #EF5B70;
            }
            &[open] .filter-content-item-heading {
                color: #EF5B70;
            }
            &-box {
                padding: 24px 16px;
                display: flex;
                flex-direction: column;
                gap: 11px;
            }
            &-link {
                color: #6F6E6E;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                &:hover {
                    color: #EF5B70;
                }
            }
        }
    }
}
.sort {
    padding-top: 12px;
    display: flex;
    gap: 28px;
    z-index: 10;
    &-details {
        position: relative;
         &[open] .sort-title {
            color: #EF5B70;
        }
        &[open] path {
            fill: #EF5B70;
        }
    }
    &-summary {
        display: flex;
        gap: 10px;
        align-items: center;
        & >svg {
            cursor: pointer;
        }
    }
    &-title {
        color: #6F6E6E;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        cursor: pointer;
    }
    &-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        left: -9px;
        top: 22px;
        padding: 7px 30px 11px 9px;
        background: #fff;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    }
    &-check {
        display: flex;
        gap: 9px;
        align-items: center;
        color: #6F6E6E;
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
}