.registration {
  margin-top: 64px;
  display: flex;
  gap: 128px;
}

.registration-form {
  width: 360px;
}
.registration-form__help {
  margin-top: 15px;
  margin-bottom: 39px;
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}

.registration-user__name {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #222;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.registration-user__input {
  padding: 12px 16px 16px 16px;
  border: 1px solid #A4A4A4;
}
.registration-user__input::-moz-placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}
.registration-user__input::placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}

.registration-gender {
  display: flex;
  gap: 20px;
  margin-top: 31px;
  margin-bottom: 34px;
  color: #000;
  font-size: 11px;
  font-weight: 300;
  line-height: normal;
}
.registration-gender__radio {
  display: flex;
  gap: 10px;
}

.hidden {
  display: none;
}

.registration-login-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #222;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.registration-login-details__input {
  padding: 12px 16px 16px 16px;
  border: 1px solid #A4A4A4;
}
.registration-login-details__input::-moz-placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}
.registration-login-details__input::placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}

.registration-btn {
  margin-bottom: 96px;
  padding: 16px 29px;
  display: flex;
  gap: 20px;
  align-items: center;
  background: #F16D7F;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  fill: #fff;
  cursor: pointer;
}

.registration-btn:hover {
  transition-duration: 0.3s;
  background: #fff;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  fill: #F16D7F;
}

.registration-btn:active {
  background: #F16D7F;
  color: #fff;
  fill: #fff;
}

.advantages {
  color: #000;
}
.advantages__head {
  margin-bottom: 22px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}
.advantages__description {
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}
.advantages__list_li {
  display: flex;
  gap: 22px;
  align-items: center;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .registration {
    margin-top: 40px;
    gap: 22px;
  }
  .advantages__head {
    margin-bottom: 32px;
    font-size: 16px;
  }
  .advantages__description {
    font-size: 16px;
  }
  .advantages__list {
    font-size: 16px;
  }
  .hidden {
    display: inline-flex;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .registration {
    flex-direction: column;
    gap: 40px;
  }
  .registration-btn {
    margin-bottom: 0;
  }
  .advantages {
    margin-bottom: 100px;
  }
  .hidden {
    display: inline-flex;
  }
}/*# sourceMappingURL=registration.css.map */